name: Build APK

on:
  push:
    branches:
      - main  # Asegúrate de que esta sea tu rama principal

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'  # Puedes ajustar esto a la versión que necesites

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git python3-pip python3-setuptools python3-wheel python3-dev
        pip install --upgrade pip
        pip install kivy buildozer

    - name: Build APK
      run: |
        buildozer -v android debug  # Este comando construirá tu APK

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: Combinatorios_AIO_V9.apk
        path: bin/Combinatorios_AIO_V9-*.apk
